<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vitquizapp">

    <!-- Internet Permission for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quizify"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VITQuizApp">

        <!-- Main Activity (Launcher) -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"/>

        <!-- Signup Activity (Fixed Duplicate Entry) -->
        <activity
            android:name=".activities.SignupActivity"
            android:exported="true"/>

        <!-- Other Activities -->
        <activity android:name=".activities.RegisterActivity" android:exported="false"/>
        <activity android:name=".activities.DashboardActivity" android:exported="false"/>
        <activity android:name=".activities.QuizListActivity" android:exported="false"/>
        <activity android:name=".activities.QuizActivity" android:exported="false"/>
        <activity android:name=".activities.ResultActivity" android:exported="false"/>
        <activity android:name=".activities.FacultyDashboard" android:exported="false"/>
        <activity android:name=".activities.CreateQuizActivity" android:exported="false"/>
        <activity android:name=".activities.StudentLoginActivity" android:exported="true"/>
        <activity android:name=".activities.ViewReportsActivity" android:exported="false"/>
        <activity android:name=".activities.StudentDashboardActivity" android:exported="false"/>
        <activity android:name=".activities.FacultyLoginActivity" android:exported="true"/>
        <activity android:name=".activities.StudentSignupActivity" />
        <activity android:name=".activities.FacultySignupActivity" android:exported="true"/>
        <activity android:name=".activities.FacultyDashboardActivity"/>

    </application>
</manifest>
